
<h1>Liste des offres d'emploi !</h1>


<div class="row">
    <div *ngFor="let offre of offres" class="col-md-6 col-xl-12">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
               <!-- <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>-->
             </div>
             
          </div>
          <ul class="list-group list-group-flush">
            
            <li class="list-group-item"><i class="fa fa-phone float-right"></i><h2>{{offre?.title}}</h2></li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i><b>Type de contrat :</b>  {{offre?.contract}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i><b>Prérequis : </b>{{offre?.prerequisites}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><b>Salaire : </b>{{offre?.salary}} dh</li>
          </ul>
         

          <div class="container" id="main-container">
            
             <a class="btn btn-primary" (click)="onOpenModal(null, 'addPostuleInfos')"> postuler </a>
             <!--<a routerLink="/postuler/addPostuleInfos"><button class="btn btn-success pull-right" > Add Customer</button></a>-->
          


       </div>
    </div>
  </div>
  
</div>

  <!-- Add postule -->
<div class="modal fade" id="addPostuleInfosModal" tabindex="-1" role="dialog" aria-labelledby="addPostuleInfosModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addPostuleInfosModalLabel">Add Employee</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addForm="ngForm" (ngSubmit)="onAddPostuleInfos(addForm)">
           <div class="form-group">
              <label for="cv">Name</label>
              <input type="text" ngModel name="cv" class="form-control" id="cv" placeholder="cv" required>
           </div>
           <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
           </div>
           <div class="form-group">
              <label for="linkenUrl">Linkdin URL</label>
              <input type="text" ngModel name="linkdenUrl" class="form-control" id="linkenUrl" placeholder="linkenUrl" required>
           </div>
           <div class="form-group">
              <label for="githubUrl">Phone</label>
              <input type="text" ngModel name="githubUrl" class="form-control" id="githubUrl" placeholder="githubUrl" required>
           </div>
           <div class="form-group">
              <label for="societe">Image URL</label>
              <input type="text" ngModel name="societe" class="form-control" id="societe" placeholder="societe" required>
           </div>
           <div class="form-group">
               <label for="domainedetude">Image URL</label>
               <input type="text" ngModel name="domaineDetude" class="form-control" id="domainedetude" placeholder="domainedetude" required>
            </div>
           <div class="modal-footer">
              <button type="button" id="add-postuleInfos-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
           </div>
           </form>
        </div>
     </div>
   </div>
   </div>
